[submodule "3rdparty/cpp-httplib"]
	path = 3rdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "3rdparty/getopt-for-windows"]
	path = 3rdparty/getopt-for-windows
	url = https://github.com/Chunde/getopt-for-windows.git
